@media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .bodyinicio{
      width: 100%;
    .headeres{
      width: 100%;
      
    }
    }
  }

