// $nombredelavariable= tipo de dato

$FonditoPrincipal: rgb(243, 202, 243);
$FonditoSecundario: rgb(238, 133, 177);
$FonditoTransparente: rgba(253, 108, 132, 0.712);
$FonditoDarks: rgb(104, 6, 6);
$FonditoLight: rgb(252, 208, 208)



