.bodycontacto{
    background-image: radial-gradient(circle, #f7e7f8, #efd3f0, #e6c0e8, #deacdf, #d698d6);
}

.headerescontacto{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/952/72/20/tattoo-monochrome-wallpaper-preview.jpg);
width: 100%;
height: 250px;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

.TatuajeTit{
    @include TituloElTexto(50px, 10px);
    color: map-get($letras, titulos);
    text-shadow: black 0 2px
}

.TatuajeTit {
    @include TituloElTexto(50px, 10px);
    color: map-get($letras, titulos);
    text-shadow: black 0 2px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.containercontacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 6px 6px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: start;
}

.ContactoContenedor {
    grid-column: 1 / -1; 
    text-align: center; 
}

.ContactoContenedor form {
    width: 80%; 
    margin: 0 auto; 
}

.Ubicacion, .Redes {
    grid-column: 1 / -1; 
    text-align: center; 
}

.Contacts {
    text-align: center;
    margin: 50px;
}

.Ubicacion {
    justify-content: center;
    text-align: center;
}

.ContactoContenedor {
    margin-top: 20px;
}

.Redes {
    text-align: center;
}

.Redes a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.Redes a:hover {
    background-color: $FonditoTransparente;
    border-radius: 25px;
}

